---
import "../styles/global.css";
import { getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
    const details = await getCollection("details");
    return details.map((detail: object) => ({
        params: { id: detail.slug },
        props: { detail }
    }));
}

const { detail } = Astro.props;
const { data } = detail;
const { title, img, description } = data;
const {Content} = await render(detail);
---

<Layout>
    <h1>{title}</h1>
    <img src={`/public/${img}`} alt={title} class="w-full max-w-2xl rounded-lg shadow-lg" />
    <Content/>
</Layout>